.top-profile-ctn{
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  margin: 50px auto 25px auto;
 justify-content: center;
 box-shadow: 5px 5px 5px 5px rgb(117, 131, 159);
 background-color: white;
 padding: 25px;
}
.profile-img{
  width: 300px;
  height: 300px;
  border: 2px solid rgba(33, 53, 93, 0.8);
  border-radius: 50%;
}
.gold-star{
  width: 15px;
  height: 15px;
}
.edit-profile{
  width: 15px;
  height: 15px;
  margin-left: 5%;
}
.user-info-ctn{
  margin: 25px 0 0 25px;
  font-family: 'Open Sans', sans-serif;
}
.username{
  font-size: 36px;
  font-weight: 800;
}
.user-bio{
  font-family: 'Open Sans', sans-serif;
}
/* Bottom div */
.user-listings-ctn{
  display: flex;
  flex-flow: column nowrap;
  width: 75%;
  justify-content: space-between;
  margin: 0 auto;
  background-color: white;
  padding: 25px;
  box-shadow: 5px 5px 5px 5px rgb(117, 131, 159);
}
.grid-ctn{
display: flex;
justify-content: space-evenly;
flex-flow: column nowrap;
}
.listing-title-ctn{
  display: flex;
  justify-content: start;  
  border-bottom: 1px solid rgb(33, 53, 93);
  margin-bottom: 15px;

}
.listing-titles{
  display: inline;
  width: 30%;
  font-family: 'Roboto', sans-serif;
}
.add-list{
  margin-bottom: 15px;
}
.active{
  font-family: 'Roboto', sans-serif;
}
.profile-listing-ctn{
  display: flex;
  justify-content: start;
  border-bottom: 1px solid rgb(33, 53, 93);
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}
.home-list-img{
  width: 200px;
  height: 150px;
  
}
.img-address-ctn{
  width: 30%;
  margin-bottom: 25px;
}
.profile-list-info{
  color: rgb(59, 59, 232);
  width: 200px;
}
.profile-list-price{
  width: 30%;
}
.profile-list-sqft{
  width: 10%;
}
.listing-buttons{
  display: flex;
  width: 20%;
  flex-flow: row nowrap;
  margin-left: 5%;
  justify-content: space-around;
}
.remove-listing{
  height: 25px;
  margin-left: 2%;
  color: red;
}
.view-listing-btn{
  margin-right: 5%;
}
.add-list-link{
  width: 115px;
  height: 32px;
  margin-bottom: 5%;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  .top-profile-ctn{
   width: 80%;
   flex-flow: column wrap;
  }
  .profile-img{
    width: 50%;
    height: 60%;
    margin: 0 auto;
  }
  .user-info-ctn{
    margin: 15px auto;
    font-size: 12px;
  }
  .user-bio{
    font-size: 12px;
  }

  .user-listings-ctn{
    width: 85%;
  }
  .img-address-ctn{
    width: 40%;
  }
  .home-list-img{
    width: 90%;
    height: 50%;
  }
  .listing-titles{
    font-size: 18px;
    padding-left: 20px;
  }
  .listing-buttons{
  display: flex;
  flex-flow: column nowrap;  
  }
  .view-listing-btn{
    margin-right: 5%;
    font-size: 8px !important;
  }
  .view-list-btn{
    margin-right: 5%;
    font-size: 8px !important;
  }
  .remove-listing{
    font-size: 8px;
    width: 30px;
  }
  }