/* Header */
.head-ctn{
  background-color: lightblue;
}
.head-nav{
  display: inline;
  height: 250px;
  width: 100%;
}
.logo{
  width: 100px;
  height: 100px;
}
.title{
  display: inline;
  margin-left: 5px;
  font-size: 80px;
  font-family: 'Luckiest Guy', cursive;
}
.head-ul{
  display: inline;
  margin-left: 45%;
}
.logout{
}
.head-li{
  display: inline-block;
  padding: 0 25px 0 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: black;
}
.user-click{
 text-decoration: none;
 color: black;
}
.user-click:hover{
  color: yellow;
}
.login-reg{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color:black;
  border: 1px solid #DADADA;
  background: #F3F3F3;
  padding:5px;
  margin-left: 120px;
  font-weight: bold;
  font-size: 9pt;
}
.login-reg:active {
  box-shadow: inset 1px 1px 1px #DFDFDF; 
 }
/* All buttons */
button{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: #444444;
 background: #F3F3F3;
 border: 1px #DADADA solid;
 padding: 5px 10px;
 border-radius: 3px;
 font-weight: bold;
 font-size: 9pt;
 outline: none;
}
button:active {
 box-shadow: inset 1px 1px 1px #DFDFDF; 
}
button:hover {
  box-shadow: inset 1px 1px 1px #DFDFDF; 
  cursor: pointer;
 }
/* Footer */
.footer-ctn {
  position: absolute;
  bottom:0;
  width:100%;
  height: 130px;
  background: lightblue;
}

