/* Header */
:root {
	/* Base font size */
	

	/* Heading height variable*/
	--heading-height: 20em;
}
.head-ctn{
position: relative;
width: 100%;
height: var(--heading-height);
}
.head-ctn:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 6em;
    width: 100%;
    height: calc(var(--heading-height) + 10em);
    z-index: -1;
    transform: skewY(-3.5deg);
    background: 
      linear-gradient(rgba(20, 33, 61, 0.6), rgba(20, 33, 61, 0.6)),
      
      linear-gradient(#14213D, #456fcb);
    background-size: cover;
    border-bottom: .2em solid #fff;
}
.head-nav{
  display: inline;
  height: 250px;
  width: 100%;
  font-size: 16px;
}
.logo-div{
  display: flex;
  margin-top: 10px;
}
.logo{
  width: 100px;
  height: 100px;
 margin-top: 15%;
}
.title{
  padding-top: 10px;
  display: inline;
  margin-left: 5px;
  font-size: 80px;
  font-family: 'Playfair Display SC', serif;
  color: rgb(183, 183, 183);
}
.head-ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
  width: 100%;
}
.logout{
  margin-left: 15px;
}

.head-li{
  display: inline-block;
  padding: 0 25px 0 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: rgb(183, 183, 183);
}
.user-click{
 text-decoration: none;
 color: rgb(183, 183, 183);
}
.user-click:hover{
  color: #fca311;
}
.login-reg{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color:black;
  border: 1px solid #DADADA;
  background: #F3F3F3;
  padding:5px;
  margin-left: 120px;
  font-weight: bold;
  font-size: 9pt;
}
.login-reg:active {
  box-shadow: inset 1px 1px 1px #DFDFDF; 
 }
/* All buttons */
.button{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: #444444;
 background: #F3F3F3;
 border: 1px #DADADA solid;
 padding: 5px 10px;
 border-radius: 3px;
 font-weight: bold;
 font-size: 10pt !important;
 outline: none;
}
.button:active {
 box-shadow: inset 1px 1px 1px #DFDFDF; 
}
.button:hover {
  box-shadow: inset 1px 1px 1px #DFDFDF; 
  cursor: pointer;
 }
/* Footer */
.footer-ctn {
  background: 
  linear-gradient(rgba(20, 33, 61, 0.6), rgba(20, 33, 61, 0.6)),
  linear-gradient(#14213D, #456fcb);
  position: relative;
  bottom:0;
  width:100%;
  height: 130px;
  color: rgb(183, 183, 183);
  margin-top: 200px;
}
.list-unstyled{
  color: rgb(183, 183, 183);
}
.inner-ctn{
  width: 100%;
  display: flex;
 justify-content: space-between;
}
.row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 85%;
}
.col-div{
  margin-top: 1%;
  width: 25%;
  border-right: 1px solid grey;
}
.col-title{
margin-top: 5%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.foot-li{
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  outline: none;
 color: silver !important;
}
.icon-ctn{
  margin: 2% auto 0 auto;
  width: 8%;
}
.social-icon{
  width: 25px;
  height: 25px;
  margin: 5px;
  padding: 5px;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  .head-ctn{
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 300px;
  }
  .title{
    font-size: 50px;
    margin-left: 10%;
  }
  .logo-div{
   width: 100%;
  }
  .logo{
    width: 100px;
    height: 100px;
   margin-top: 25%;
   margin-left: 33%;
  }
  .login-reg{
    margin-right: 15%;
  }

  /* Footer */
  .footer-ctn {
    height: 150px;
    margin-top: 100px;
  }
  .row{
    margin-top: 5%;
    width: 60%;
  }
  .col-div{
    width: 35%;
  }
  .col-title{
    display: none;
  }
  .icon-ctn{
    margin-top: 5%;
    width: 28%;
  }
}