.homepage-ctn{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.carousel-ctn{
  width: 60%;
}
.carousel-img{
  width: 100%;
  margin: 0 auto;
  opacity: 0.8;
}
.info-back{
  background-color: rgba(155, 155, 155, 0.8);
  border-radius: 2px;
  color: white;
}
.bottom-ctn{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}
.listing-ctn{
  width: 25%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  box-shadow: 3px 3px 3px 3px rgb(117, 131, 159);
  padding: 15px;
  margin: 55px 15px 55px 15px;
  background-color: rgb(255, 255, 255);
  
}
.show-info{
  text-align: center;
}
.home-list-img{
  width: 300px;
  height: 200px;
  transition: transform 1.0s ease;
  cursor: zoom-in;
}
.home-list-img:hover {
  -webkit-transform: scale(2);
  transform: scale(2);
  cursor: zoom-out;
}
.list-info{
  text-align: center;
  font-family: 'Roboto', sans-serif;

}
.list-head{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.current-listing{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 800;
  margin: 15px;
  padding: 15px;
}

.content-ctn{

}

/* Media Query */
@media only screen and (max-width: 600px) {
  .info-back{
    display: none;
  }
  .carousel-ctn{
    width: 90%;
  }
  .listing-ctn{
  width: 90%;
  flex-flow: column wrap;
  }
  .card{
    margin: 0 auto;
  }
}