/* Top Section */
.top-div{
  display: flex;
  flex-flow: row nowrap;
}
.list-img{
  width: 55%;
  height: 40%;
  padding: 30px;
}
.agent-ctn{
 width: 30%;
 margin: 30px auto 30px auto;
 border: 3px solid lightgray;
}
.agent-title{
  padding: 15px 0 15px 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid lightgray;
  font-family: 'Roboto', sans-serif;
}
.agent-ctn-list{
  width: 50%;
  margin: 0 auto;
  
  display: flex;
  flex-flow: column nowrap;
}
.agent-img-listing{
  width: 80px;
  height: 80px;
  margin-left: 30%;
  border-radius: 10%;
}
.agent-name{
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

/* Bottom Section */
.bottom-div{
  margin-top: 20px;
  padding: 15px;
}
.content-ctn{
  font-family: 'Roboto', sans-serif;
  font-size: 36px;  
  padding: 15px;
  margin: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}
.content{
  font-family: 'Open Sans', sans-serif;
    font-size: 22px;  
  line-height: 30px;
  padding: 15px;
}
.info-ctn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
  margin: 5px;
 padding: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}
.info{
  font-family: 'Roboto', sans-serif;  
  padding: 15px;
  margin-left: 25px;
  font-size: large;
}