/* Top Section */
.top-div{
  display: flex;
  flex-flow: row nowrap;
}
.list-img{
  width: 55%;
  height: 40%;
  padding: 30px;
}

/* Bottom Section */
.bottom-div{
  margin-top: 20px;
  padding: 15px;
}
.content-ctn{
  font-family: 'Roboto', sans-serif;
  font-size: 36px;  
  padding: 15px;
  margin: 5px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgb(117, 131, 159);
}
.content{
  font-family: 'Open Sans', sans-serif;
    font-size: 22px;  
  line-height: 30px;
  padding: 15px;
}
.info-ctn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: white;
  margin: 25px 5px 5px 5px ;
 padding: 5px;
 box-shadow: 5px 5px 5px 5px rgb(117, 131, 159);
}
.info{
  font-family: 'Roboto', sans-serif;  
  padding: 15px;
  margin-left: 25px;
  font-size: large;
}